body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-bg{
  /*height: 100vh;*/
  background: #000;
  min-height: 100vh;
  width: 100%;
}
.logo{
  height: 300px;
}
.logo img{
  height: 100%;
}
.height-100{
  height: 100vh;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar{
  height: 80px;
  background: #1d1d1d;
  position: fixed;
  width: -webkit-fill-available;
  padding: 0 40px;
  z-index: 10;
}
.flex-space{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar h1{
  color: #FFEA1F;
  font-size: 18px;
  letter-spacing: 0.0734rem;
}
.selectbtn{
  min-width: 150px;
  height: 35px;
  border-radius: 25px;
  background: black;
  border: 1px solid #FCE71F;
  color: #ddd;
  padding: 0 10px;
  cursor: pointer;
}
.selectbtn:focus, .selectbtn:focus {
  outline: none !important;
}
.selectbtn::-ms-expand {
  display: none;
}
.selectbtn:hover {
  border-color: #888;
}
.selectbtn:focus {
  border-color: #aaa;
 /* box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;*/
  /*color: #222;*/
  outline: none;
}
/*.selectbtn option {
  font-weight:normal;
}*/


.star-wars {
  perspective: 50px;
  min-height: 100vh;

}

.crawl {

  margin: 0 auto;
  color: #fcd000;
  font-size: 30px;
  font-weight: bold;
  width: 600px;
  transform-origin: 50% 100%;
  transform: rotateX(70deg);
  animation: animateCrawl 35s
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

.loader{
  color: white;
}

@keyframes animateCrawl {
  0% { transform: rotateX(20deg) translateY(400px); }
  100% { transform: rotateX(25deg) translateY(-300px); }
}

/*@keyframes crawl {
  0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}*/

.details-div{
  padding-top: 110px;
  padding-bottom: 90px;
}

.table th{
  color: #9a9a9a;
  text-transform: uppercase;
  letter-spacing: 0.093rem;
  font-size: 14px;
  position: relative;
}
.table{
  width: 75%;
  margin: auto;
  text-align: left;
}
.th{
  height: 50px !important;
  background: #191717;

}
.table th{
  padding: 0 10px;
}
.table td{
  padding: 20px 10px;
  border: 1px solid #312f2f;
  color: #ddd;
}
.bg-yellow{
  background: #3c38138a;
}
.avatar{
  height: 30px;
}
.avatar img{
  height: 100%;
}
.cursor-pointer{
  cursor: pointer;
}
.z-not-left i{
  color: #fff;
  font-size: 9px;
}
.z-not-left{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #fcd000;
  box-shadow: 0 3px 4px #fcd0005e;
  cursor: pointer;
}
.z-not-right {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: rgba(153, 153, 153, 1);
  font-size: 12px;
  border: 1px solid #fcd000;
  cursor: pointer;
}
.z-nav-holder-p{
  color: rgba(153, 153, 153, 1);
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 0;
}
.z-nav-holder{
  width: 16% !important;
  margin: 6% auto auto !important;
}
.z-gr-div{
  /* position: relative; */
  width: 25%;
  /* left: 37%; */
  margin: 65px 0 40px;

}

.z-flex-column{
  display: flex;
  flex-direction: column;
}
.z-flex-column-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.z-flex-space{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.z-disabled{
  cursor: not-allowed;
}
.z-width-35{
  width: 35% !important;
}
.z-not-left img{
  height: 11px;
}
.filter{
  height: 14px;
  margin-left: 8px;
  position: absolute;
  bottom: 17px;
}
.input:focus, .input:active{
  outline: none;
}
.input{
  height: 35px;
  border-radius: 30px;
  background: #54545463;
  width: 301px;
  border: 1px solid #ffea1f3b;
  margin: 2% 0 4%;
  color: white;
  text-align: center;
}
.no-data{
  color: white;
  text-align: center;

}